*.npz

__pycache__/
pointnet++/__pycache__/
pointnet++/models/__pycache__
dataset/

pointnet++/pointnet++
pointnet++/__pycache__/

pointnet++/pointnet_data.npz
pointnet++/checkpoints/pointnet_final.pth
checkpoints/
.env

.idea/

pointnet++/test_inference_outputs